<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인</h1>
<form action="#" th:action="@{/user/login}" method="post">
    <div>
        <label for="user_id">ID :</label>
        <input type="text" id="user_id" name="user_id">
    </div>
    <div>
        <label for="user_pw">Password :</label>
        <input type="password" id="user_pw" name="user_pw">
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>
</body>
</html>
