<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.websocket.chat.user.mapper.UserMapper">

    <insert id="registerUserXml" parameterType="com.websocket.chat.user.model.UserVO">
        INSERT INTO USERS (id, pw) VALUES (#{id}, #{pw})
    </insert>

</mapper>